<!-- https://stackoverflow.com/questions/3901619/how-to-comment-lines-in-rails-html-erb-files -->
<div class="container">
  <h3>9 Random Cocktails(Out of <%= @cocktail_count %> Cocktails)</h3>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          <% truncate_at = 90 %>
          <p><%= truncate_text(cocktail.instruction, truncate_at) %></p>
        </div>
        <%#= image_tag 'http://via.placeholder.com/50x50', class: "card-user" %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>